
@media (max-width:1399px){
    .main__coment-user{
        padding: 22px 10px;
    }
}

@media (max-width:1199px){
    .main__coment-user{
        padding: 5px 5px;
    }
}

@media (max-width:991px) {
    .header__nav-link{
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
    }

    .main__coment-user{
        background: #fafafa ;
        margin-top: 5px;
    }
    .main__coment{
        margin-top: 15px;
    }
}


@media (max-width: 767px) {
    .header__ru{
        margin-top: 10px;
    }
    
    .main__slider-img{
        width: 100%;
        height: 350px;
    }
    
    .main__slider-images {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .carousel-inner{
        height: 350px;
    }
    
    .main__slider-text{
        height: 350px;
    }
}

@media (max-width: 400px) {
    .main__slider-title {
        font-size: 23px;
        width: 100%;
    }
    
    .main__slider-p {
        font-size: 14px;
    }
}